@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-taskGrey: #242424;
}

@theme {
  --color-first: #1a73e8;
  --breakpoint-sm: 390px;
  --breakpoint-md: 520px;
  --color-nav-gray: #e0e0e0;
  --color-back-gray: #f3f3f3;
  --color-darkGray: #8d8d8d;
  --color-darkerGray: #303030;
  --color-light-black: #1b1b1b;
  --color-lighter-black: #3a3a3a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f3f3f3;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.filt {
  color: #e0e0e0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.serif-font {
  font-family: "Times New Roman", Times, serif;
}
